body {
	background-color: rgb(255, 255, 255);
	font-family: arial, sans-serif;
}

h1 {
	text-align: center;
}

@media screen and (min-width: 1024px) {
	#container {
		padding: 0 30px;
		margin : auto;
	}
}